<h1>Racers Start Your Engines</h1>
<table class="racer_table" data-player-one='<%= session[:player1].capitalize %>' data-player-two='<%= session[:player2].capitalize %>'>
  <tr>
    <td>Name</td>
    <td>Button</td>
  <tr id="player1_strip">
    <td><%= session[:player1].capitalize %></td>
    <td>Q</td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id="finish_line1" ></td>
  </tr>
  <tr id="player2_strip">
    <td><%= session[:player2].capitalize %></td>
    <td>P</td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td id='finish_line2'> </td>
  </tr>
</table>
<h3 id='declare_winner'>And the winner is...</h3>
<h3><a id='again' href='/again'>Play again</a></h3>
<br>
<a href='/exit'>Exit Game</a>
