<h1>Javascript Racer</h1>
<div id='enter_player'>
  <form action='/play' method='post'>
    <input type='text' name='player1' placeholder='Player 1'>
    <input type='text' name='player2' placeholder='Player 2'>
    <button id='submit' type='submit'>Play</button>
  </form>
</div>

